@font-face {
  font-family: "iconfont"; /* Project id 4669195 */
  src: url('//at.alicdn.com/t/c/font_4669195_b16siyre58.woff2?t=1725518924229') format('woff2'),
       url('//at.alicdn.com/t/c/font_4669195_b16siyre58.woff?t=1725518924229') format('woff'),
       url('//at.alicdn.com/t/c/font_4669195_b16siyre58.ttf?t=1725518924229') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}